<!-- 외부라이브러리 포함
bootstrap
jquery
fontawesome -->
<head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <!-- jquery 버전 유의 -->
    <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
    <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body>
    <div class="container">        
        <!-- 자산 입력하기 -->
        <div class="col justify-content-md-center">
            <div class="row-lg">
                <!-- 결과알림영역 -->
                <div id="set-alert"></div>
                <!-- 사용자 폼영역 -->
                <h3>자산을 입력합니다.</h3>
                <input type="text" id="setid" name="setid" placeholder="입력할 자산의 id를 입력하세요"> <br>
                <input type="text" id="setdata" name="setdata" placeholder="입력할 자산의 data를 입력하세요"> <br>
                <!-- 버튼영역 -->
                <button class="btn btn-primary" id="set-btn">입력하기</button>
            </div>   

        
        <!-- 자산 조회하기 -->
        <br><br>
        <div class="row-lg">
            <div id="get-alert"></div>
            <h3>id로 자산을 조회합니다</h3>
            <input type="text" id="getid" name="getid" placeholder="조회할 mate의 id를 입력하세요"> <br>
            <button class="btn btn-warning" id="get-btn">조회하기</button> 
                                        
            <!-- 테이블 안에 row를 하나씩 붙이는 곳 -->
            <table class="table">
                <tbody id="table">
                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>

<script>
    // 1. 메이트추가버튼이 눌러졌을때 -> 서버에게 /mate POST id -> 결과로 JSON처리 -> 결과영역 업데이트
    $("#set-btn").click(()=>{
            // new-email이라는 id값을 가지고 있는 input의 value를 가지고 옴
            const id = $("#setid").val();
            const setdata = $("#setdata").val();
            const url = "/set"

        $.post(url, {id:id, setdata:setdata}, (data,status)=>{
            // http 상태 코드가 200(success)이라면
            if(status == "success"){
                // 성공했다는 alert창을 띄움
                //var obj = JSON.parse(data)

                $('#set-alert').append("<div id='success' class='alert alert-success'>입력을 성공했습니다!</div>");
                $('#set-alert').fadeOut(4000);
            }
        })
    })

    $("#get-btn").click(()=>{
        const id = $("#getid").val();
        const url = "/get"
        $.get(url, {id:id}, (data)=>{
            // 조회했을 때 값이 null이 아니면 (일치하는 값이 존재한다면)
            if(status != null){
                

                $('#find-alert').append("<div id='success' class='alert alert-success'>조회를 성공했습니다!</div>");
                $('#find-alert').fadeOut(2000);

                // stringify는 json객체를 string으로, parse는 string을 json객체로 변환 시켜줌

                const  parsedData= JSON.parse(data);
                console.log(parsedData.id);

                // $('#get-alert').append(parsedData);
                // $('#get-alert').fadeOut(2000);

                $('#table').empty();
                $('#table').append("<tr><th scope='row'>ID</th><td>" + parsedData.key + "</td></tr>")
                $('#table').append("<tr><th scope='row'>Avg</th><td>" + parsedData.value + "</td></tr>")
            }        
        })
    })

</script>
